
body{    
    margin: 0;
    padding: 0;
}

/* ======================================    Start PAGE      ============================================== */



#startContainer {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/startbg.jpg');  
    background-size: cover;
    background-repeat: no-repeat;   
  }
  
  .form-container {
    display: block;
    margin: 200px auto 0 auto;
    width: 400px;
    perspective: 1000;
  }
  
  .login-form {
    background: rgba(244,146,0, 0.1);
    border: 4px solid #facb7e;
    border-radius: 8px;
  }
  
  .title {
    background: rgba(255, 155, 4, 0.19);
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 2em;
    padding: 10px 10px 10px 20px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .form-input {
    padding: 5px;
    width: 300px;
    height: 20px;
    border: 4px solid rgba(255, 187, 0, 0.329);
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    background-color: rgba(255, 153, 0, 0.589);
  }
  
  textarea:focus, input:focus, button:focus {
      outline: 0;
  }
 .tooltip {
    width: 35%;
    background: rgba(6, 41, 61, 1);
    font-size: 0.8em;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    margin-left: 10px;
    padding: 7px;
    border-radius: 5px;
  } */
   
  .form-group {
    padding: 10px 10px 10px 20px;
    width: 300px;
  }
  
  .login-button {
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    
   
    border: 4px solid rgba(255, 187, 0, 0.329);
    border-radius: 8px;
    background-size: 500% 100%;
    background: rgba(244,146,0, 0.2);
    box-shadow: inset 0 0 0 0 rgba(20, 196, 148, 1);
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      transition: all ease 0.3s;
    
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
  }




/* ======================================    GAME PAGE      ============================================== */



#gameContainer{
    background-image: url('../images/background.jpg');  
}

#screen{
    height: 100vh;
    width: 100vw; 
    
}

#board{
    height: 85vh;
    width: 85vw;  
    margin: 50px;   
}

.gameTitle{
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 2em;
    padding: 10px 10px 10px 20px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

.middlerow{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.middleContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#potinfo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 202px;
  width: 250px;
  background-color: red;
  border: 3px solid #283966;
}

#potTitle{
  height: 50px;
  background-color: blue;
}

#potsize{

}

.cardbackground{
    height: 150px;
    width: 100px;
    background-color: yellow;
    border: 3px solid black;
}

#communityCards{
    /* Why do i have to use margin auto? Cant flex box take care of this for me? */
    padding-top: 75px;
    width: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.communityCardSize{}


.flex-end{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

#dealButton{
    
    height: 30px;
}

#resetButton{
  height: 30px;
}


#players{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 300px;
}

.playerHeader{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: white;
    font-size: 2em;
}

.playerProfile{
    text-align: center;
    
}

.playerHand{
    height: 150px;
    display: flex;
    justify-content: center;
  }
  
  .playerHand > img{
      height: 150px;
      margin-left: 11px;
  }
  
  .playerName{
     
  }

  .betAmount{
      color: white;
      font-size: 2em;
      height: 30px;
      z-index: 5;
      margin: 20px;
      text-align: center;
  }


  #commandCenter{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    padding-top: 30px;
  }

  .commandButton{
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  }

  .commandButtonGreen{
    box-shadow: 0px 0px 0px 2px #a2f29f;
    background:linear-gradient(to bottom, #78c27e 5%, #479e56 100%);
    background-color:#78c27c;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid #56964e;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    padding:12px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #346628;
    }




